.header-main{
	width:100%;
	padding:15px;
	padding-top:25px;
}
.logo-image{
	width:8%;
	margin-left:75px;
}
.title{
	float:right;
	width:13%;
	text-align:center;
	font-family:$title-font;
	font-size:35px;
	color:$color-yellow;
	margin-right: 75px;
	margin-top:0px;
	font-weight: lighter;
}